<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

</head>

<body>
    <th:block th:fragment="card">
        <div class="d-flex justify-content-center">
            <div class="card m-0 p-0 " style="width: 18rem;">
                <div class="card-header">
                    <div class="row m-0 p-0">
                        <div class="col-12 text-center">
                            <h3>Pizze:</h3>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li th:if="${isValid == 'true'}" th:each="pizza : ${pizzas}" class="list-group-item">
                            <p th:text="${pizza.getNome()}"></p>
                            <p th:text="${pizza.getFoto()}"></p>                            
                            <p th:text="${pizza.getDescrizione()}"></p>
                            <p th:text="${pizza.getPrezzo()}"></p>
                        </li>
                        <li th:if="${isValid == 'false'}" class="list-group-item">
                            <p>Purtroppo non ci sono pizze disponibili.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>