<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>

<body>
    <th:block th:fragment="navBar">
        <div class="bg-dark text-white m-1 p-2 rounded">
            <div class="row align-items-center">
                <div class="col-3">
                    <h4><a th:href="@{'/'}" class="text-white">🍕 La Mia Pizzeria</a></h4>
                </div>
                <div class="col-12 col-md-9 text-end">
                        <form class="d-flex justify-content-end" th:action="@{/search-pizza}" method="GET">
                            <div class="input-group w-50">
                                <input type="text" name="pizzas" id="pizzas" class="form-control form-control-lg" placeholder="Che pizza vuoi cercare?" aria-label="Cerca pizza">
                                <button type="submit" class="btn btn-primary btn-lg">Cerca</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </th:block>

</body>

</html>