<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

</head>

<body>
    <th:block th:fragment="pizzaCard">
        <div class="d-flex justify-content-center">
            <div class="m-0 p-0 " style="width: 60rem;">
                <div class="p-2">
                    <div class="col-12 text-center">
                        <h3 th:text="${pizza.getNome()}"></h3>
                    </div>
                </div>
                <div class="row d-flex justify-content-center g-4">
                    <div th:if="${isValid == 'true'}" class="col-md-4 col-sm-6">
                        <div class="card p-3 mx-auto" style="width: 18rem;">
                            <img th:src="${pizza.getFoto()}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${pizza.getNome()}"></h5>
                                <p class="card-text" th:text="${pizza.getDescrizione()}"></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li th:text="${pizza.getNome()}" class="list-group-item"></li>
                                <li class="list-group-item" th:text="'Prezzo: ' + ${pizza.getPrezzo()} + ' Euro'"></li>
                                <li th:replace="~{fragments/fragments :: buttons('/')" th:text="Return"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </th:block>
</body>

</html>