<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>

<body>
    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/css/styles.css}" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>

<body>
    <th:block th:fragment="pizzaTable">
        <div class="d-flex justify-content-center" id="table">
            <div class="m-0 p-3" style="width: 80rem; max-width: 100%;">
                <div class="p-3 bg-dark text-white">
                    <div th:insert="~{fragments/navbar :: navBar}"></div>
                </div>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>Nome</th>
                                <th>Descrizione</th>
                                <th>Prezzo</th>
                                <th>Allergeni</th>
                                <th>Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pizza : ${pizzas}">
                                <td th:text="${pizza.getNome()}"></td>
                                <td th:text="${pizza.getDescrizione()}"></td>
                                <td th:text="'€ ' + ${pizza.getPrezzo()}"></td>
                                <td>
                                    <h5>Allergeni</h5>
                                    <div th:insert="~{fragments/allergeni :: allergeni(${pizza.isFrutta_a_guscio()},${pizza.isPesce_e_crostacei()},${pizza.isGlutine()},${pizza.isLattosio()},${pizza.isSedano()},${pizza.isSesamo()},${pizza.isSoia()},${pizza.isUova()})}"></div>
                                </td>
                                <td>
                                    <div th:if="${currentURI == '/pizza'}" th:insert="~{fragments/fragments :: button('/')}"></div>
                                    <div th:if="${currentURI == '/search-pizza'}" th:insert="~{fragments/fragments :: buttons('/pizza', ${pizza.getNome()})}"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>
