.card-body {
  padding: 1.5rem;
}

.card-text {
  margin-bottom: 1rem;
}

h5 {
  color: #f8b400; /* Un colore di contrasto per i titoli */
}
.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}